@use '../../styles/variables.scss' as vars;

.container {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(115deg, #fff720, #3cd500);
        opacity: 1;
        transition: opacity 0.3s ease;
        z-index: -1;
    }

    &[data-theme='dark'] {
        color: var(--color-dark-text);

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(115deg, #135a2e, #83a002);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: -1;
    }

    &[data-theme='dark'] {
        background: vars.$gradient-color-dark;
    }
}

.content {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}